{% extends "base.html" %}
{% block content %}

    <h3 class="dosis-heading">Edit the term</h3>

    <!-- input field from Materialize -->
    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('edit_term', term_id=term._id) }}">
          <div class="row">
            <div class="input-field col s12">
                <input id="term_name" name="term_name" type="text" class="validate" required>
                    value="{{ term.term_name }}" type="text" class="validate" required>
                <label for="term_name">Term</label>
            </div>
            <div class="input-field col s12">
                <input id="un_abbreviated" name="un_abbreviated" type="text">
                    value="{{ term.un_abbreviated }}" type="text" class="validate">
                <label for="un_abbreviated">Un-abbreviated</label>
            </div>
            <div class="input-field col s12">
                <textarea id="definition_01" name="definition_01" type="text" class="materialize-textarea validate" input placeholder="Type your definition here" required>
                    {{- term.term_definition_01 -}}
                </textarea>
                <label for="definition_01">Definition</label>
            </div>
            <div class="input-field col s12">
                <input id="see_also_01" name="see_also_01" type="text">
                    value="{{ term.see_also_01 }}" type="text" class="validate">
                <label for="see_also_01">See also</label>
            </div>
            <div class="input-field col s12">
                <input id="source_01" name="source_01" type="text">
                    value="{{ term.ssource_01 }}" type="text" class="validate">
                <label for="source_01">Source</label>
            </div>
            <div class="input-field col s12">
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled>Choose a category</option>
                    {% for category in categories %}
                        {% if category.category_name == term.category_name %}
                            <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                        {% else %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="category_name">Category</label>
            </div>
            <div class="row">
                <button <a href="{{ url_for('get_terms') }}" class="btn waves-effect waves-light grey lighten-1 black-text dosis-btn">Cancel</a></button>
                <button class="btn waves-effect waves-light deep-purple darken-3 white-text dosis-btn" type="submit">Edit term</i></button>
            </div>
        </form>
    </div>

{% endblock %}