{% extends "base.html" %}
{% block content %}

    <h3 class="dosis-heading-purple">Add a category</h3>

    <!-- input field from Materialize -->
    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('new_category') }}">
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="New category name" id="category_name" name="category_name" 
                        type="text" minlength="1" maxlength="50" class="validate" required>
                    <label for="category_name">Category name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 center-align">
                    <button class="btn waves-effect waves-light deep-purple darken-3 white-text dosis-btn" 
                        type="submit">Add category
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}