{% extends "base.html" %}
{% block content %}

    <h3 class="dosis-heading">Add a category</h3>

    <!-- input field from Materialize -->
    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('new_category') }}">
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Type your new term here" id="category_name" name="category_name" type="text" minlength="1" maxlength="50"class="validate" required>
                    <label for="category_name">Category</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light deep-purple darken-3 white-text dosis-btn" type="submit">
                        <i class="material-icons right">Add category</i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}