{% extends "base.html" %}
{% block content %}
    <!-- card from Materialize -->
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card no-shadows">
                <div>
                    <div class="center-align">
                        <span class="dosis-heading-black">Welcome to </span><span class="dosis-heading">covidopedia</span>
                    </div>
                    <div>
                        <p  id="welcome-txt">Use this community encyclopedia to become an expert on all things covid. To start 
                            with, why is it called covid-19? Are you sure you know the difference between PCR tests, lateral 
                            flow tests, and antibody tests? Need a reminder on positive predictive value? Or on DNA, RNA, 
                            and messenger RNA? And did a certain president really recommend bleach as the way to beat covid? 
                            This is where you’ll find out. And if you already have your expertise, sign up, join the community, 
                            and contribute terms and definitions of your own.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- card from Materialize -->
    <div class="row">
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row valign-wrapper center-align card-content black-text">
                <div class="input-field col s12 m8 offset-m2">
                    <div class="card no-shadows">
                        <i class="material-icons prefix assistant-btn">search</i>
                        <input placeholder="search covidopedia" type="text" name="query" id="query" minlength="1" class="validate" required>
                        <label for="query"></label>
                    </div>
                    <div class="col s12 m4">
                        <a href="{{ url_for('get_terms') }}" class="btn grey lighten-1 black-text dosis-btn">Reset</a>
                        <button type="submit" class="btn deep-purple darken-3 white-text dosis-btn">Search
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>   
    <!-- card from Materialize -->
    {% if terms|length > 0 %}
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card no-shadows">
                <div class="card-content">
                    <div class="dosis-heading">Results
                    </div>
                    <div>
                        {% for term in terms %}
                            <ul>
                                <li>
                                    <p class="dosis-heading-2">{{ term.term_name }}</p>
                                    <p class="results-txt">{{ term.un_abbreviated }}</p><br><br>
                                    <p class="results-txt">{{ term.definition_01 }}</p><br><br>
                                    <p class="results-txt-1">See also: </p>
                                        <span class="results-txt"></span></span>{{ term.see_also_01 }}<br><br>
                                    <p class="results-txt">{{ term.source_01 }}</p><br><br>
                                    <p><em>by: {{ term.created_by }}</em></p><br><br>
                                </li>
                            </ul>
                            <div class="col s12 m3">
                                <div class="row" id="edit-btn">
                                    {% if session.user|lower == term.created_by|lower %}
                                    <!-- buttons from Materialize -->
                                        <a href="{{ url_for('delete_term', term_id=term._id) }}" 
                                            class="waves-effect waves-light btn-large grey lighten-1 black-text dosis-btn">
                                            Delete</a>
                                        <a href="{{ url_for('edit_term', term_id=term._id) }}" 
                                            class="waves-effect waves-light btn-large deep-purple darken-3 white-text dosis-btn">
                                            Edit</a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% else %}
        <h3 class="center-align" id="no-results-txt-1">No results found</h3>
    {% endif %}

{% endblock %}