{% extends "base.html" %}
{% block content %}

    <!-- card from Materialize -->
    <div class="row">
        <div class="col s12 m9">
            <div class="card ">
                <div class="card-content">
                    <div class="card-title dosis-heading-1">
                        Results
                    </div>
                    <div>
                        {% for term in terms %}
                            <ul>
                                <li>
                                    <p class="dosis-heading-2">{{ term.term_name }}</p>
                                    <p class="results-txt">{{ term.un_abbreviated }}</p><br><br>
                                    <p class="results-txt">{{ term.definition_01 }}</p><br><br>
                                    <p class="results-txt-1">See also: </p>
                                        <span class="results-txt"></span></span>{{ term.see_also_01 }}<br><br>
                                    <p class="results-txt">{{ term.source_01 }}</p><br><br>
                                    <p><em>by: {{ term.created_by }}</em></p><br><br>
                                </li>
                            </ul>
                            <div class="col s12 m3">
                                <div class="row" id="edit-btn">
                                    {% if session.user|lower == term.created_by|lower %}
                                    <!-- buttons from Materialize -->
                                        <a href="{{ url_for('delete_term', term_id=term._id) }}" 
                                            class="waves-effect waves-light btn-large grey lighten-1 black-text dosis-btn">
                                            Delete</a>
                                        <a href="{{ url_for('edit_term', term_id=term._id) }}" 
                                            class="waves-effect waves-light btn-large deep-purple darken-3 white-text dosis-btn">
                                            Edit</a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- <p class="results-txt">text</p> -->
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>

    </div>


{% endblock %}